img {
    width: 50%;
    height: auto; 
    margin: left;
    display: block;
}
footer{
    background-color: black;
    color: white;
    height: 20px;
}
footer a{
    color:white;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
table {
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align:center;
}
a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}
a:hover {
    color: rgb(236, 99, 97);
}
ul {
    font-family: 'Arial', sans-serif;
    font-size: 16px
}
nav {
    text-align: left;
    display: flex; 
    flex-wrap: wrap; 
    gap: 15px;
}
nav a.active {
    color: tomato; 
}
body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: left; 
}
@media (max-width: 800px) {
    nav {
        justify-content: space-between; 
    }
}
@media (max-width: 600px) {
    h1 {
        text-align: center; 
    }
    nav {
        flex-direction: column; 
        align-items: center; 
    }
    nav a {
        font-size: 20px; 
    }
    img {
        width: 100%; 
    }
    section > h2 {
        text-align: center; 
    }
}
@media (max-width: 400px) {
    nav a {
        font-size: 12px; 
    }
    table {
        font-size: 10px; 
        width: 100%; 
        overflow-x: auto; 
    }
}